* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-items: normal;
}

.web_page {
    background-color: rgb(236, 230, 230);
}

.nav {
    display: flex;
    /* justify-items: normal; */
    margin-top: 15px;
    gap: 25px;

}

.search {
    margin-left: 800px;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding: 7px;
    margin-top: 10px;
    /* border: 0; */
    border: 0.5px;
    flex-grow: 1;
    font-weight: bold;
}

.search_div {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.logo_div {
    display: flex;
    justify-items: normal;

}

.logo_title {
    padding-top: 17px;
    padding-left: 5px;
}

.left_board {
    height: 450px;
    width: 150px;
    background-color: white;
    margin: 10px;
    margin-top: 15px;
    border-radius: 5%;
}

button[type=submit]:hover {
    background-color: rgba(236, 230, 230, 0.208);
}

.card {
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 20px; */
    margin: 5px 0;
    padding: 10px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0.5);
    min-width: 300px;
    height: 400px;
    width: 600px;
    border-radius: 10px;
    padding: 50px;
    width: 50%;
}

.cityDisplay {

    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem
}

.cityDisplay,
.tempDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 0.75);
    margin-bottom: 10px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 10px;
}

.descpDisplay {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

.weatherEmoji {
    margin: 0;
    font-size: 5.5rem;
}

.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: hsl(0, 0%, 50%);
}

.main_div {
    display: flex;
    width: 100%;
    gap: 15px;
}

/* .second_div {
    display: flex;
    justify-items: normal;
    width: 40%;
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    margin-top: 5px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0.5);
    min-width: 300px;
    height: 400px;
    width: 650px;
    border-radius: 10px;
    margin-right: 10px;
    gap: 20px;
} */

.second_div {
    display: flex;
    flex-direction: column;
    width: 650px;
    min-width: 300px;
    height: 400px;
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    margin-top: 5px;
    margin-right: 10px;
    padding: 15px;
    gap: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.5);
}

.header_sec {
    padding-top: 3px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
     color: hsla(0, 9%, 2%, 0.374);
}
.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    flex-grow: 1;
}

.day {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-weight: bold;
    height: 150px;
    width: 80px;

}

